body, html {
    font-family: "Roboto", sans-serif;
    
    background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#15a5da 100%);
    height: 100%;
  }

  .logo {
    background-image: url('img/trumpet.jpeg');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
  }